{% extends 'layout/base.html' %}

{% block title %}
군산대 통합 장소 시스템 - 관리자
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 120px;">
    <div class="card">
        <div class="card-header d-flex">
            <a class="btn btn-light my-auto" href="{{ url_for('views.admin') }}">
                <img src="{{ url_for('static', filename='images/arrow.svg') }}">
            </a>
            <h4 class="my-auto ml-3">Update User</h4>
        </div>
        <div class="card-body">
            <label for="id">User ID</label>
            <div class="input-group">
                <input class="text" readonly value="{{ target_user.id }}">
            </div>
            <hr>
            <label for="uid">User UID</label>
            <div class="input-group">
                <input class="text" readonly value="{{ target_user.uid }}">
            </div>
            <hr>
            <div class="d-flex justify-content-start">
                <img class="border rounded-circle" width="100" height="100" src="{{ target_user.profile_url }}" id="profile">
                <div class="flex-fill ml-2">
                    <label for="profileImage">Profile Image</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="profile_image" accept="image/png,image/jpeg">
                            <label class="custom-file-label" for="profile_image">Choose file...</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" id="upload_profile_image">Upload</button>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        파일을 선택해 주세요.
                    </div>
                </div>
            </div>
            <hr>
            <label for="nickname">Change Nickname</label>
            <div class="input-group">
                <input type="text" class="form-control" id="nickname" placeholder="{{ target_user.nickname }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="apply_nickname">Apply</button>
                </div>
                <div class="invalid-feedback">
                    닉네임을 입력해주세요.
                </div>
            </div>
            <hr>
            <div class="input-group justify-content-between">
                <label class="my-auto" for="change_password">Change Password</label>
                <button class="btn btn-primary" data-toggle="modal" data-target="#password_change_modal">Change</button>
            </div>
            <hr>
            <div>
                <label>Permissions</label>
                <table class="table table-sm">
                    <thead>
                        <th>Permission</th>
                        <th></th>
                    </thead>
                    <tbody id="permission_table_content">
                    </tbody>
                </table>
                <label>Add Permission</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="permission" placeholder="#">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="add_permission">Add</button>
                    </div>
                    <div class="invalid-feedback">
                        권한 키를 입력해 주세요.
                    </div>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    <h6>Danger Zone</h6>
                </div>
                <div class="card-body">
                    <div class="input-group justify-content-between">
                        <label class="my-auto">Delete Account</label>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#delete_account_modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="password_change_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="password">Admin Password</label>
                    <input type="password" class="form-control" id="admin_password">
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="new_password">
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="password_check">New Password Check</label>
                    <input type="password" class="form-control" id="new_password_check">
                    <div class="invalid-feedback">
                        비밀번호가 일치하지 않습니다.
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button class="btn btn-primary" id="change_password">Change</button>
            </div>
        </div>
    </div>
</div><div class="modal fade" tabindex="-1" id="delete_account_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger mb-3">계정을 삭제합니다. 계속하려면 비밀번호를 입력해주세요.</p>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="verify_password">
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button class="btn btn-outline-secondary" class="close" data-dismiss="modal" aria-label="Close">
                    Cancel
                </button>
                <button class="btn btn-danger" id="delete_account">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay">
    <div class="notice-bar" id="notice"></div>
</div>
<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='sha256.min.js') }}"></script>
<script src="{{ url_for('static', filename='jsencrypt.min.js') }}"></script>
<script>
    const user_uid = "{{ target_user.uid }}";
    const message_table = {
        400: "유효하지 않은 요청입니다. 다시 시도해주세요.",
        401: "현재 로그인이 유효하지 않습니다. 다시 로그인해주세요.",
        403: "권한이 없습니다.",
        404: "존재하지 않는 권한 키 입니다.",
        500: "서버 내부 오류입니다. 다시 시도해주세요."
    };

    let notify = function(message, status) {    
        ksu_goodplace.notify("warning", message + " - " + message_table[status], 3000);
    };

    function reloadPermissions() {
        // Load user permission
        $.getJSON("/api/users/" + user_uid + "/permissions", function(data) {
            let content = $("#permission_table_content");

            // Reset table content.
            content.children().remove();

            for (let perm of data["permissions"]) {
                content.append(
                    $("<tr>").append(
                        $("<td>").text(perm),
                        $("<td>").append(
                            $("<a>").data("permission", perm).attr("href", "#").append(
                                $("<img>").attr("src", "{{ url_for('static', filename='images/trash.svg') }}")
                            )
                        )
                    )
                );
            }
        }).fail(function(xhr) {
            notify("권한 로드에 실패하였습니다.", xhr.status);
        }).done(function() {
            $("#permission_table_content a").on("click", function(event) {
                event.preventDefault();

                const perm = $(this).data("permission");

                $.ajax("/api/users/" + user_uid + "/permissions", {
                    method: "DELETE",
                    dataType: "JSON",
                    contentType: "application/json",
                    data: JSON.stringify({ "permission": perm }),
                    success: function(data, status, xhr) {
                        ksu_goodplace.notify("success", "권한을 제거하였습니다.", 3000);
                        reloadPermissions();
                    },
                    error: function(xhr) { notify("권한 제거에 실패하였습니다.", xhr.status); }
                });
            });
        });
    }

    // 화면 로드 완료시 권한 목록 로드.
    $(function() {
        reloadPermissions();
    });

    // 프로파일 사진 업로드 이벤트 처리
    $("#upload_profile_image").on("click", function() {
        var data = new FormData();
        let file = $("#profile_image")[0].files[0];

        // 파일 선택했는지 체크.
        if (file === undefined) {
            ksu_goodplace.notify("warning", "이미지 파일을 선택해주세요.", 3000);
            return;
        }

        data.set("file", file);

        // 파일 업로드
        $.ajax({
            url: "/api/resources/upload",
            method: "POST",
            dataType: "JSON",
            data: data,
            contentType: false,
            processData: false,
            success: function(data) {
                // 성공했으면 유저 프로파일 등록
                $.ajax({
                    url: "/api/users/" + user_uid,
                    method: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify({ user_profile: data["url"] }),
                    success: function() {
                        ksu_goodplace.notify("success", "프로필 사진 업로드에 성공했습니다.", 3000);
                        $("#profile").attr("src", data["url"]);
                    },
                    fail: function(xhr) { notify("프로필 사진 업로드에 실패했습니다.", xhr.status); }
                });
            },
            fail: function(xhr) { notify("프로필 사진 업로드에 실패했습니다.", xhr.status); }
        });
    });

    // 별명 수정시 이벤트 처리.
    $("#apply_nickname").on("click", function() {
        let nickname = $("#nickname").val();

        // Reset invalid feedback.
        $("#nickname").removeClass("is-invalid");

        if (nickname.length == 0) {
            $("#nickname").addClass("is-invalid");
            return;
        }

        // 유저 프로파일 등록
        $.ajax({
            url: "/api/users/" + user_uid,
            method: "PUT",
            contentType: "application/json",
            data: JSON.stringify({ user_nickname: nickname }),
            success: function() {
                ksu_goodplace.notify("success", "닉네임 변경에 성공했습니다.", 3000);
            },
            fail: function(xhr) { notify("닉네임 변경에 실패하였습니다.", xhr.status); }
        });
    });

    $("#password_change_modal").on("hidden.bs.modal", function() {
        // Clear inputs
        $("#admin_password").val("");
        $("#new_password").val("");
        $("#new_password_check").val("");
    });

    // 비밀번호 변경 버튼 누를 때 이벤트 처리.
    $("#change_password").on("click", function() {
        let admin_pw = $("#admin_password").val();
        let new_pw = $("#new_password").val();
        let new_pw_check = $("#new_password_check").val();

        // Reset invalid feedback.
        $("#admin_password").removeClass("is-invalid");
        $("#new_password").removeClass("is-invalid");
        $("#new_password_check").removeClass("is-invalid");

        if (admin_pw.length == 0) {
            $("#admin_password").addClass("is-invalid");
            return;
        }

        if (new_pw.length == 0) {
            $("#new_password").addClass("is-invalid");
            return;
        }

        if (new_pw !== new_pw_check) {
            $("#new_password_check").addClass("is-invalid");
            return;
        }

        let error_handler = function(xhr, status) {
            ksu_goodplace.notify("warning", "비밀번호 변경에 실패했습니다 - " + message_table[xhr.status], 3000);
            $("#password_change_modal").modal("hide");
        };

        let request_id = ksu_goodplace.generate_id();

        $.getJSON("/api/auth/request_token", { request_id: request_id }, function(data) {
            let request_data = {
                "request_id": request_id,
                "admin_pw": sha256(admin_pw),
                "new_pw": sha256(new_pw)
            };

            let crypt = new JSEncrypt();
            crypt.setKey(data["key"]);

            let encrypted_data = crypt.encrypt(JSON.stringify(request_data));

            $.ajax("/api/auth/update_password/" + user_uid, {
                method: "POST",
                dataType: "JSON",
                contentType: "application/json",
                data: JSON.stringify({ "data": encrypted_data, "token": data["token"] }),
                success: function(data, status, xhr) {
                    ksu_goodplace.notify("success", "비밀번호 변경이 완료되었습니다.", 3000);
                    $("#password_change_modal").modal("hide");
                },
                error: error_handler
            });
        }).fail(error_handler);
    });

    $("#add_permission").on("click", function() {
        let perm = $("#permission").val();

        // Reset invalid feedback.
        $("#permission").removeClass("is-invalid");

        if (perm.length > 0) {
            $.ajax("/api/users/" + user_uid + "/permissions", {
                method: "PUT",
                dataType: "JSON",
                contentType: "application/json",
                data: JSON.stringify({ "permission": perm }),
                success: function(data, status, xhr) {
                    ksu_goodplace.notify("success", "권한을 추가하였습니다.", 3000);
                    $("#permission").val(""); // clear input
                    reloadPermissions();
                },
                error: function(xhr) { notify("권한 추가에 실패하였습니다.", xhr.status); }
            });
        }
        else {
            $("#permission").addClass("is-invalid");
        }
    });

    $("#delete_account").on("click", function() {
        let pw = $("#verify_password").val();

        // Reset invalid feedback.
        $("#verify_password").removeClass("is-invalid");

        if (pw.length == 0) {
            // Notice user to type password.
            $("#verify_password").addClass("is-invalid");
        }
        else {
            let error_handler = function(xhr) {
                notify("회원탈퇴에 실패했습니다.", xhr.status);

                $("#verify_password").val("");
                $("#delete_account_modal").modal("hide");
            };

            let request_id = ksu_goodplace.generate_id();

            $.getJSON("/api/auth/request_token", { request_id: request_id }, function(data) {
                let request_data = {
                    "request_id": request_id,
                    "pw": sha256(pw)
                };

                let crypt = new JSEncrypt();
                crypt.setKey(data["key"]);

                let encrypted_data = crypt.encrypt(JSON.stringify(request_data));

                $.ajax("/api/users/" + user_uid, {
                    method: "DELETE",
                    dataType: "JSON",
                    contentType: "application/json",
                    data: JSON.stringify({ "data": encrypted_data, "token": data["token"] }),
                    success: function(data, status, xhr) {
                        alert("회원 탈퇴가 완료되었습니다.");
                        window.location.assign("{{ url_for('views.admin') }}");
                    },
                    error: error_handler
                });
            }).fail(error_handler);
        }
    });
</script>
{% endblock %}