{% extends 'base.html' %}

{% block title %}
군산대 통합 장소 시스템
{% endblock %}

{% block content %}
<div id="main" style="position: relative;">
    <!-- 네이버 지도 background -->
    <div id="map" style="width: 100%; height: 100vh;"></div>
    <!-- 상단 UI Overlay -->
    <div class="overlay">
        <!-- 좌측 메인 메뉴 -->
        <div class="card menu" id="menu">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">검색</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">추천</a>
                    </li>
                </ul>
            </div>
            <div class="card-body menu-content" id="menuBody">
                <div class="input-group mb-3">
                    <input type="text" placeholder="Search" aria-describedby="button-addon4">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-secondary" type="button">Search</button>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" id="test_button">Add Notice</button>
            </div>
        </div>
        <!-- 우측 하단 알림 바. 추후에 알림을 띄우는 부분으로 활용할 거임. -->
        <div class="right-bottom" id="notice"></div>
    </div>
</div>
<!-- <script type="text/javascript" src="http://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ config['CLIENT_ID'] }}"></script> -->
<script>
    // let CAMPUS_LAT = 35.9455298;
    // let CAMPUS_LNG = 126.6854321;

    // var options = {
    //     center: new naver.maps.LatLng(CAMPUS_LAT, CAMPUS_LNG),
    //     zoom: 17
    // };

    // var map = new naver.maps.Map('map', options);

    const NOTICE_TEMPLATE = "<div class=\"alert alert-warning alert-dismissible fade show\" role=\"alert\">TEST_NOTICE<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button></div>";

    $('#test_button').on('click', function() {
        $('#notice').append(NOTICE_TEMPLATE);
    });
</script>
{% endblock %}