{% extends 'layout/base.html' %}

{% block title %}
군산대 통합 장소 시스템 - 회원가입
{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 500px; margin-top: 120px;">
    <div class="card-header">
        <h2>Register</h2>
    </div>
    <div class="card-body">
        <div>
            <div class="form-group">
                <label for="userID">ID</label>
                <input type="text" class="form-control" id="userID" aria-describedby="emailHelp">
                <div class="invaild-feedback">
                    이미 사용중인 아이디입니다.
                </div>
            </div>
            <div class="form-group">
                <label for="userName">Name</label>
                <input type="text" class="form-control" id="userName" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="userNickname">Nickname</label>
                <input type="text" class="form-control" id="userNickname" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="userEmail">Email address</label>  
                <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="userPassword">Password</label>
                <input type="password" class="form-control" id="userPassword">
            </div>
            <div class="form-group">
                <label for="userPasswordCheck">Password Check</label>
                <input type="password" class="form-control" id="userPasswordCheck">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </div>
</div>
<script>
    $(function() {

    });
</script>
{% endblock %}