
.menu {
    position: absolute;
    top: 10vh;
    left: 0px;
    margin-left: 50px;
    width: 450px;
    height: 80vh;

    .menu-content {
        overflow-x: hidden;
        overflow-y: auto;
    }
}